.image-carousel-slider {
	max-width: 750px;
	max-height: 750px;
	/* width: 750px;
	height: 749px; */
}

.image-carousel-asset {
	/* width: 100%; */
	max-height: 750px;
	min-height: 500px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-carousel {
	max-width: 750px;
	max-height: 750px;
}
