.header {
	width: 100%;
	background: linear-gradient(-45deg, #212121, #263238);
}

.header-navigation {
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
	height: auto;
	padding: 0px 60px 0px 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-navigation > img {
	display: block;
	max-width: 150px;
	max-height: 25px;
	width: auto;
	height: auto;
}

.header-navigation-responsive {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header-navigation-links {
	display: flex;
	flex-direction: row;
	width: auto;
	text-align: right;
	margin-left: auto;
	order: 1;
	position: relative;
}

.top {
	margin-top: 0;
}

.header-navigation-links-ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-navigation-links-ul-li > a {
	display: block;
	color: #CFD8DC;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 14px;
	position: relative;
	font-weight: 200;
}

.header-navigation-links-ul-li > a:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.4);
}

.header-navigation-menu,
.header-navigation-menu-active {
	display: none;
	height: 100%;
	order: 2;
	padding-right: 50px;
	margin-top: -2px;
}
.header-navigation-menu > div,
.header-navigation-menu-active > div {
	width: 20px;
	height: 1px;
	position: relative;
	transition: all 400ms ease-in-out;
}

.header-navigation-menu > div {
	background-color: white;
}

.header-navigation-menu-active > div {
	background-color: #F3A529;
}

.header-navigation-menu > div:nth-of-type(1) {
	top: -1px;
}

.header-navigation-menu > div:nth-of-type(2) {
	top: 5px;
}

.header-navigation-menu-active > div:nth-of-type(1) {
	transform: rotate(45deg);
}

.header-navigation-menu-active > div:nth-of-type(2) {
	top: -1px;
	transform: rotate(-45deg);
}

@media screen and (max-width: 1000px) {
	.header-navigation {
		padding: 19px 10px 18px 60px;
	}

	.header-navigation-links {
		display: none;
	}

	.header-navigation-links-ul-li > a {
		text-align: right;
		padding: 10px 50px;
		width: 240px;
		background-color: rgba(0,0,0,0.8);
		margin-bottom: 2px;
		margin-left: 60px;
	}

	.header-navigation-links-ul-li > a:hover {
		background-color: rgba(0,0,0,0.9);
	}

	.header-navigation-menu,
	.header-navigation-menu-active {
		display: block;
		order: 1;
		position: absolute;
	}

	.header-navigation-links-ul {
		display: flex;
		flex-direction: column;
		text-align: right;
	}

	.top {
		margin-top: 43px;
	}

	.header-navigation-links-show {
		order: 2;
		text-align: right;
		position: absolute;
		display: flex;
	}

}

@media screen and (max-width: 500px) {
	.header-navigation {
		padding: 19px 0px 18px 30px;
	}

	.header-navigation-menu,
	.header-navigation-menu-active {
		padding-right: 30px;
	}

	.header-navigation-links-ul-li > a {
		padding: 10px 30px;
	}
}
