.content {
	max-width: 450px;
	/* width: 100%; */
}

.content-element {
	text-align: left;
	margin-right: auto;
	margin-bottom: 20px;
}

.content-element-btn {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 0;
	background-color: transparent;
	border: 0;
}

.content-element-btn:hover {
	background-color: transparent;
}

.content-element-btn:focus {
	outline: 0;
}

.content-element-btn > h2 {
	color: #263238;
	font-size: 24px;
	margin-left: 6px;
	font-weight: 600;
}

.content-element-text {
	padding-left: 22px;
	color: #616161;
	font-weight: 200;
	font-size: 14px;
}

.btn-open,
.btn-close {
	max-width: 16px;
	max-height: 16px;
}

.btn-open {
	transform: rotate(90deg);
}
